<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>首页</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="js/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="js/jquery-confirm/jquery-confirm.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <style>
        .daterangepicker td.active, .daterangepicker td.active:hover {
            background-color: #33cabb;
            border-color: transparent;
            color: #fff;
        }

        .daterangepicker .ranges li.active {
            background-color: #33cabb;
            color: #fff;
        }
    </style>
</head>

<body>
<div class="container-fluid p-t-15" id="app">
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card bg-primary text-white">
                <div class="card-body clearfix">
                    <div class="flex-box">
                        <span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-deskphone fs-22"></i></span>
                        <span class="fs-22 lh-22">{{userDeposit}} {{currency}}</span>
                    </div>
                    <div class="text-right">用户付款总额</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card bg-purple text-white">
                <div class="card-body clearfix">
                    <div class="flex-box">
                        <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-apps fs-22"></i></span>
                        <span class="fs-22 lh-22">{{userOverage}} {{currency}}</span>
                    </div>
                    <div class="text-right">用户余额</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card bg-success text-white">
                <div class="card-body clearfix">
                    <div class="flex-box">
                        <span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-account fs-22"></i></span>
                        <span class="fs-22 lh-22">{{accountCount}} 个</span>
                    </div>
                    <div class="text-right">总账户数量</div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3">
            <div class="card bg-danger text-white">
                <div class="card-body clearfix">
                    <div class="flex-box">
                        <span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-account-alert fs-22"></i></span>
                        <span class="fs-22 lh-22">{{accountRechargeAmount}} {{currency}}</span>
                    </div>
                    <div class="text-right">账户充值总额</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <header class="card-header">

                    <div class="btn-group">
                        <div class="input-group mt-4">
                            <!--                        <div class="card-title">所有用户-3</div>-->
                            <div class="card-title" style="width: 205px">
                                <input type="text" class="form-control" name="daterange"/>
                            </div>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle mb-3"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                {{actorBtn}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button" v-on:click="selectActor(key)"
                                        v-for="(value, key) in select_map">{{(value == '' || value == null) ? key :
                                    value}}
                                </button>
                            </div>
                            <label>
                                <input type="text" class="form-control" value="搜索"/>
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary" data-target="#myModal" data-toggle="modal">
                        创建账号
                    </button>

                    <!--fade 淡入淡出-->
                    <div class="modal fade" id="myModal" aria-labelledby="myModallabel" aria-hidden="true"
                         tabindex="-1">
                        <div class="modal-dialog modal-lg" role="document">

                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModallabel">创建账号</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <div class="card-body">

                                            <div class="form-group row">
                                                <label for="accountId-i" class="col-sm-3 col-form-label">账户ID：</label>
                                                <div class="col-sm-8">
                                                    <input type="text" value="" id="accountId-i" placeholder="请输入..."
                                                           class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="platform-i"
                                                       class="col-sm-3 col-form-label">平台：</label>
                                                <div class="col-sm-8">
                                                    <input type="text" value="" id="platform-i"
                                                           placeholder="请输入..."
                                                           class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-default" type="button" data-dismiss="modal">关闭
                                        </button>
                                        <button class="btn btn-success" type="button"
                                                onclick="onCreateCustomerAccount()">确认
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div class="card-body">
                    <!--                    <div class="btn-group">-->
                    <!--                        <div class="input-group mb-3">-->
                    <!--                            <button type="button" class="btn btn-outline-secondary dropdown-toggle mb-3"-->
                    <!--                                    data-toggle="dropdown"-->
                    <!--                                    aria-haspopup="true" aria-expanded="false">-->
                    <!--                                {{actorBtn}}-->
                    <!--                            </button>-->
                    <!--                            <div class="dropdown-menu dropdown-menu-right">-->
                    <!--                                <button class="dropdown-item" type="button" v-on:click="selectActor(key)"-->
                    <!--                                        v-for="(value, key) in select_map">{{(value==''||value==null) ? key : value}}-->
                    <!--                                </button>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <table id="tb_departments"></table>
                </div>
            </div>
        </div>

    </div>

</div>

<!--<script type="text/javascript" src="js/jquery.min.js"></script>-->
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/Chart.min.js"></script>
<script type="text/javascript" src="js/echarts.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/axios-0.18.0.js"></script>
<script type="text/javascript" src="js/jquery-confirm/jquery-confirm.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('input[name="daterange"]').daterangepicker({
            opens: 'left',
            maxDate: moment(),
            ranges: {
                '今日': [moment().startOf('day'), moment()],
                '昨日': [moment().subtract('days', 1).startOf('day'), moment().subtract('days', 1).endOf('day')],
                '最近7日': [moment().subtract('days', 6), moment()],
                '最近30日': [moment().subtract('days', 29), moment()]
            },
            locale: {
                applyLabel: '确定',
                cancelLabel: '取消',
                fromLabel: '起始时间',
                toLabel: '结束时间',
                customRangeLabel: '自定义',
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
                    '七月', '八月', '九月', '十月', '十一月', '十二月'],
                firstDay: 1
            },
            alwaysShowCalendars: true
        }, function (start, end, label) {
            $('#tb_departments').bootstrapTable('refresh', {
                url: '/customer/list?start=' + start + "&end=" + end
            });
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
        });
    });
    var select_key = "0"
    var customerIdC = "0"

    var vue = new Vue({
        el: '#app',
        data: {
            currency: "USD",
            userDeposit: "加载中...",
            userOverage: "加载中...",
            accountCount: "加载中...",
            accountRechargeAmount: "加载中...",
            actorBtn: "全部",
            select_map: {"0": "全部", "1": "已审批", "2": "待审批"},
            customerId: ""
        },
        created() {

            let uri = window.location.search.substring(1);
            let params = new URLSearchParams(uri);
            this.$data.customerId = params.get("customerId");
            customerIdC = params.get("customerId");
            axios.get("/admin/user/deposit_approval/deposit").then((response) => {
                this.$data.userDeposit = response.data;
            });
            axios.get("/admin/user/deposit_approval/overage").then((response) => {
                this.$data.userOverage = response.data;
            });
            axios.get("/admin/user/account/total").then((response) => {
                this.$data.accountCount = response.data;
            });
            axios.get("/admin/user/account_recharge/amount").then((response) => {
                this.$data.accountRechargeAmount = response.data;
            });
        },
        methods: {
            selectActor: function (key) {
                select_key = key
                let value = this.$data.select_map[key];
                this.$data.actorBtn = (value === "" || value == null) ? key : value;
                if (key === "0") {
                    $('#tb_departments').bootstrapTable('refresh', {
                        url: '/admin/user/deposit_approval'
                    });
                } else if (key === "1") {
                    $('#tb_departments').bootstrapTable('refresh', {
                        url: '/admin/user/deposit_approval?status=1&status=2'
                    });
                } else if (key === "2") {
                    $('#tb_departments').bootstrapTable('refresh', {
                        url: '/admin/user/deposit_approval?status=0'
                    });
                }
            },
        }
    });
    $('#tb_departments').bootstrapTable({
        classes: 'table table-bordered table-hover table-striped',
        url: '/customerAccount/list?customerId=' + vue.$data.customerId,
        method: 'get',
        dataType: 'json',        // 因为本示例中是跨域的调用,所以涉及到ajax都采用jsonp,
        uniqueId: 'id',
        idField: 'id',             // 每行的唯一标识字段
        toolbar: '#toolbar',       // 工具按钮容器
        //clickToSelect: true,     // 是否启用点击选中行
        showColumns: true,         // 是否显示所有的列
        showRefresh: true,         // 是否显示刷新按钮

        showToggle: true,        // 是否显示详细视图和列表视图的切换按钮(clickToSelect同时设置为true时点击会报错)

        pagination: true,                    // 是否显示分页
        sortOrder: "desc",                    // 排序方式
        queryParams: function (params) {
            var temp = {
                limit: params.limit,         // 每页数据量
                offset: params.offset,       // sql语句起始索引
                page: (params.offset / params.limit) + 1,
                sort: params.sort,           // 排序的列名
                sortOrder: params.order      // 排序方式'asc' 'desc'
            };
            return temp;
        },                                   // 传递参数
        sidePagination: "server",            // 分页方式：client客户端分页，server服务端分页
        pageNumber: 1,                       // 初始化加载第一页，默认第一页
        pageSize: 10,                        // 每页的记录行数
        pageList: [10, 50, 100, 300],         // 可供选择的每页的行数

        columns: [{
            field: 'id',
            title: 'ID',
            align: 'center',
            valign: 'middle',
            visible: false,
            formatter: function (row) {
                return row == null ? "未知" : row;
            }
        }, {
            field: 'accountName',
            title: '账户名称',
            align: 'center',
            valign: 'middle',
            formatter: function (row) {
                return row == null ? "未知" : row;
            }
        }, {
            field: 'accountId',
            title: '账户ID',
            align: 'center',
            valign: 'middle',
            formatter: function (row) {
                return row == null ? "未知" : row;
            }
        }, {
            field: 'todo',
            title: '广告花费',
            align: 'center',
            valign: 'middle',
            formatter: function (row) {
                return row == null ? "未知" : row;
            }
        }, {
            field: 'budgetLimit',
            title: '预算总额',
            align: 'center',
            valign: 'middle',
            formatter: function (row) {
                return row == null ? "未知" : row;
            }
        }, {
            field: 'todo',
            title: '剩余预算',
            align: 'center',
            valign: 'middle',
            formatter: function (row) {
                return row == null ? "未知" : row;
            }
        }, {
            field: 'todo',
            title: '充值总额',
            align: 'center',
            valign: 'middle',
            formatter: function (row) {
                return row == null ? "未知" : row;
            }
        }, {
            field: 'costAmount',
            title: '花费总额',
            align: 'center',
            valign: 'middle',
            formatter: function (row) {
                return row == null ? "未知" : row;
            }
        }, {
            field: 'platform',
            title: '平台',
            align: 'center',
            valign: 'middle',
            formatter: function (row) {
                return row == null ? "未知" : row;
            }
        }, {
            field: 'operate',
            title: '操作',
            align: 'center',
            valign: 'middle',
            formatter: function (value, row, index) {
                if (row.status === 0) {
                    return toApprovalBtnGroup(row, index);
                } else if (row.status === 1) {
                    return "<button class=\'btn btn-secondary \' >已通过</button>"
                } else if (row.status === 2) {
                    return "<button class=\'btn btn-secondary \' >已拒绝</button>"
                }
            }
        }
        ],
        onLoadSuccess: function (data) {
            $("[data-toggle='tooltip']").tooltip();
        }
    });

    // 操作按钮
    function toApprovalBtnGroup(row, index) {
        return '<button class=\'btn btn-danger \' onclick="onRefuse(' + row.id + ',' + row.deposit + ')" >拒绝</button> ' +
            ' <button class=\'btn btn-primary \' data-target="#pass' + index + '" data-toggle="modal" >通过</button>' +
            '                    <!--fade 淡入淡出-->\n' +
            '                    <div class="modal fade" id="pass' + index + '" aria-labelledby="myModallabel' + index + '" aria-hidden="true"\n' +
            '                         tabindex="-1">\n' +
            '                        <div class="modal-dialog">\n' +
            '                            <div class="modal-content">\n' +
            '                                <div class="modal-header">\n' +
            '                                    <h5 class="modal-title" id="myModallabel' + index + '">通过申请</h5>\n' +
            '                                    <button class="close" type="button" data-dismiss="modal" aria-hidden="true">\n' +
            '                                        &times;\n' +
            '                                    </button>\n' +
            '                                </div>\n' +
            '                                    <div class="modal-body">\n' +
            '                                        <div class="form-group row">\n' +
            '                                           <label class="col-sm-3 col-form-label">用户名：</label>\n' +
            '                                           <div class="col-sm-8">\n' +
            '                                                <input style="margin-right: 10%" type="text" readonly="readonly" value="' + row.username + '" name="username"\n' +
            '                                                       placeholder="username"  class="form-control">\n' +
            '                                           </div>\n' +
            '                                        </div>\n' +
            '                                        <div class="form-group row">\n' +
            '                                           <label class="col-sm-3 col-form-label">金额：</label>\n' +
            '                                           <div class="col-sm-8">\n' +
            '                                                <input style="margin-right: 10%" type="number" id = "deposit' + row.id + '" value="' + row.deposit + '" name="deposit"\n' +
            '                                                       placeholder="deposit" class="form-control">\n' +
            '                                           </div>\n' +
            '                                        </div>\n' +
            '                                    </div>\n' +
            '                                    <div class="modal-footer">\n' +
            '                                        <button class="btn btn-default" type="button" data-dismiss="modal">关闭\n' +
            '                                        </button>\n' +
            '                                        <button class="btn btn-success"  type="button" onclick="onAssent(' + row.id + ',$(\'#deposit' + row.id + '\').val())">通过</button>\n' +
            '                                    </div>\n' +
            '                            </div>\n' +
            '                        </div>\n' +
            '                    </div> ';
    }

    function onRefuse(id, deposit) {
        $.post("/admin/user/deposit_approval/" + id + "/refuse", {
            "deposit": deposit,
            "status": 2
        }, function (data, status) {
            refreshNow()
        });
    }

    function onAssent(id, deposit) {
        console.log(deposit)
        $.post("/admin/user/deposit_approval/" + id + "/assent", {
            "deposit": deposit,
            "status": 1
        }, function (data, status) {
            $('.modal-backdrop').remove();
            $('body').removeClass('modal-open');
            refreshNow()
        });
    }

    function refreshNow() {
        if (select_key === "0") { // 全部
            $('#tb_departments').bootstrapTable('refresh', {
                url: '/admin/user/deposit_approval'
            });
        } else if (select_key === "1") { // 已审批
            $('#tb_departments').bootstrapTable('refresh', {
                url: '/admin/user/deposit_approval?status=1&status=2'
            });
        } else if (select_key === "2") { // 未审批
            $('#tb_departments').bootstrapTable('refresh', {
                url: '/admin/user/deposit_approval?status=0'
            });
        }
    }

    function onCreateCustomerAccount() {
        $.post("/customerAccount", {
            "accountId": $("#accountId-i").val(),
            "platform": $("#platform-i").val(),
            "customerId": customerIdC,
        }, function (data, status) {
            $('#myModal').modal("hide");
            $('#tb_departments').bootstrapTable('refresh', {
                url: '/customerAccount/list?customerId=' + customerIdC
            });
        });
    }

</script>
</body>
</html>
